* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navContainer {
  display: flex;
  margin: 1rem;
}

.nav {
  display: flex;
  margin-left: 2rem;
  list-style-type: none;
}

.link {
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
}

form {
  margin: 1rem;
}

.book {
  margin: 1rem;
}
